<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>senior project | Login</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/e18a3893e1.js" crossorigin="anonymous"></script>
    <!-- <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script> -->
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-327NFBPZ9S"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-327NFBPZ9S');
    </script>
</head>
<body>
    <div class="bg-gradient-to-br from-cyan-100 to-red-100 grid grid-cols-1 content-center min-h-screen">
        <div class="flex justify-center">
            <div class="relative bg-white rounded-2xl w-96 space-y-3 p-8 ring-2 ring-[#47a6ab]">
                <div class="flex justify-evenly">
                    <p class="text-2xl text-center">Sign in</p>
                </div>
                <form action="{% url 'login' %}" method="post" class="space-y-3 flex-col flex justify-center">
                    {% csrf_token %}
                    <input type="text" class="p-4 rounded-2xl border-2 focus:border-[#47a6ab]" placeholder="Enter username..." name="username" id="username">
                    {{ form.username.errors }}
                    <input type="password" class="p-4 rounded-2xl border-2" placeholder="Enter password..." name="password" id="password">
                    {{ form.password.errors }}
                    <div class="text-sm text-red-600">{{ form.non_field_errors }}</div>
                    <br>
                    <input type="submit" value="Login" id="next" class="relative bg-black text-white px-10 pt-4 pb-4 shadow-xl ring-1 ring-gray-900/5 rounded-2xl sm:mx-auto sm:max-w-lg sm:rounded-3xl sm:px-10 hover:bg-gradient-to-br from-black to-[#2B2B2B] border-none">
                    <!-- {{ form.username.errors }} -->
                    <!-- {{ form.as_p }}
                    <p>
                        <button type="submit" class="relative bg-black text-white px-10 pt-4 pb-4 shadow-xl ring-1 ring-gray-900/5 rounded-2xl sm:mx-auto sm:max-w-lg sm:rounded-3xl sm:px-10 hover:bg-gradient-to-br from-black to-[#2B2B2B] border-none">Login</button>
                    </p> -->
                    
                </form>
                <!-- <a href="savedata/">save</a> -->
                <br>
                <p class="text-sm text-gray-500">Don't have an account?
                    <a class="text-sm text-[#4b88e3] hover:text-[#47a6ab]" href="{% url 'register' %}">Sign up</a>
                    <span>or</span>
                    <button class="text-sm text-[#4b88e3] hover:text-[#47a6ab]" onclick="autoenter()">Guest mode</button>
                </p>
            </div>
            <script>
                // auto login
                function autoenter() {
                    var d = new Date().getSeconds()
                    var username = document.getElementById('username')
                    var password = document.getElementById('password')
                    var button = document.getElementById('next')
                    username.value = 'guest'
                    password.value = 'dgnoienvmdefkpwejj0f23328954356uf'
                    button.click();
                }
            </script>
        </div>
    </div>
</body>
</html>