<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>senior project | Coming Soon</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/[YOUR-API_KEY].js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
</head>
<body class="bg-gradient-to-br from-cyan-100 to-red-100 min-h-screen">
   <!-- <div class="grid content-evenly min-h-screen">
        <a class="grid content-start ml-4 p-5 fa-solid fa-circle-chevron-left text-[#FFF0F0] text-[36px] hover:text-[#00000]" href="../"></a>
        <box class="grid content-center bg-gradient-to-br from-red-50 to-cyan-50 pt-10 pb-8 shadow-xl ring-1 ring-gray-900/5 rounded-2xl sm:mx-auto sm:max-w-lg sm:rounded-3xl sm:px-5">
            <p class="text-center tracking-wide px-10">We are developing, coming soon. 💻 😵‍💫</p>
        </box>
        <br>
    </div> -->
    <a class="fixed top-16 left-16  fa-solid fa-circle-chevron-left text-[#FFF0F0] text-[36px] hover:text-[#00000]" href="../"></a>
    <div class="grid grid-cols-1 min-h-screen content-center">
        <box class="bg-gradient-to-br from-red-50 to-cyan-50 pt-10 pb-8 shadow-xl ring-1 ring-gray-900/5 rounded-2xl sm:mx-auto sm:max-w-lg sm:rounded-3xl sm:px-5">
            <p class="text-center tracking-wide px-10">We are developing, coming soon. 💻 😵‍💫</p>
        </box>
    </div>
</body>
</html>