<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <title>senior project | Home</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <!-- {% load static %}
        <link rel="stylesheet" href="{% static 'css/styles.css' %}"> -->
        <script src="https://kit.fontawesome.com/[YOUR-API_KEY].js" crossorigin="anonymous"></script>
        <!-- <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" /> -->
    </head>

    <body>
        <div class="bg-gradient-to-br from-cyan-100 to-red-100 min-h-screen">
            {% if user.is_authenticated %}
            <div class="relative bg-[#47a6ab] px-6 pt-10 pb-8 rounded-3xl shadow-xl ring-1 ring-gray-900/5 sm:mx-auto sm:max-w-lg sm:px-10">
                <a href="reset_temp_data/" class="ml-4 text-white text-2xl font-bold">Planning your time</a>
                <p class="ml-4 text-white text-sm pt-2 pb-2 font-normal">Please enter your destination</p>
                <br>
                <div class="relative bg-[rgb(256,256,256,0.47)] px-6 pt-3 pb-8 shadow-xl ring-1 ring-gray-900/5 rounded-2xl sm:mx-auto sm:max-w-lg sm:rounded-3xl sm:px-10 space-y-3">
                    <div class="grid grid-cols-8 gap-1">
                        <!-- <div class="col-start-1 col-span-4">
                            <a class="text-white font-thin hover:font-normal focus:font-normal">One-Way</a>
                            <a class="text-white">  |  </a>
                            <a class="text-white font-thin hover:font-normal focus:font-normal">Round Trip</a>
                        </div> -->
                        <div class="col-end-9 col-span-1 justify-end">
                            <!-- <button class="fa-regular fa-map text-white text-2xl hover:font-semibold focus:font-bold" onclick="window.location='map/'"></button> -->
                        </div>
                    </div>
                    <form action="planning/" method="post" class="space-y-3">
                        {% csrf_token %}
                        <div class="relative bg-white px-6 pt-4 pb-4 shadow-xl ring-1 ring-gray-900/5 rounded-2xl sm:mx-auto sm:max-w-lg sm:rounded-2xl sm:px-10">
                            <i class="fa-solid fa-circle pr-3 text-[#47a6ab]"></i>
                            <select class="text-sm border-none bg-white sm:mx-auto" placeholder="Current Location" id="browser_og" name="origin_plan">
                                {% for x in location_data %}
                                <option class="truncate" value="{{ x.name }}">{{ x.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="relative bg-white px-6 pt-4 pb-4 shadow-xl ring-1 ring-gray-900/5 rounded-2xl sm:mx-auto sm:max-w-lg sm:rounded-2xl sm:px-10">
                            <i class="fa-solid fa-location-dot pl-0.5 pr-3.5 text-[#FF370D]"></i>
                            <select class="text-sm border-none bg-white sm:mx-auto" placeholder="Current Location" id="browser_ds" name="destination_plan">
                                {% for x in location_data %}
                                <option class="truncate" value="{{ x.name }}">{{ x.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <p class="text-red font-light" id="text_warn_ogds"></p>
                        <!-- <script>
                            function check_ogds() {
                                const og = document.getElementById('browser_og')
                                const ds = document.getElementById('browser_ds')
                                const pogds = document.getElementById('text_warn_ogds')
                                if (og == ds) {
                                    pogds.innerHTML = '* your origin and destination must not same'
                                }
                            }
                            check_ogds();
                        </script> -->
                        <div class="grid grid-cols-12 gap-1 bg-white px-6 pt-4 pb-4 shadow-xl ring-1 ring-gray-900/5 rounded-2xl sm:mx-auto sm:max-w-lg sm:rounded-2xl sm:px-10">
                            <div class="col-span-8">
                                <i class="fa-regular fa-calendar pl-0.5 pr-3.5 text-[#FFD816]"></i>
                                <input type="date" id="plantime_date" name="plantime_date" class="border-none w-[80%] text-[14px]">
                                <!-- <a class="text-sm">Today, Now.</a> -->
                            </div>
                            <div class="col-start-9 border-l-[1px]">
                                <!-- <i class="fa-regular fa-clock pl-0.5 pr-2 text-[#FFD816]"></i> -->
                                <input type="time" min="06:00:00" max="21:00:00" id="plantime_time" name="plantime_time" class="ml-3 border-none w-20 text-[14px]" onchange="check_time();">
                            </div>
                        </div>
                        <input type="submit" value="Next" class="flex bg-black text-white justify-center px-10 pt-4 pb-4 shadow-xl ring-1 ring-gray-900/5 rounded-2xl sm:mx-auto sm:max-w-lg sm:rounded-3xl sm:px-10 hover:bg-gradient-to-br from-black to-[#2B2B2B] border-none">
                    </form>    
                </div>
            </div>
            <div class="relative bg-white px-6 pt-10 pb-8 shadow-xl ring-1 ring-gray-900/5 sm:mx-auto sm:max-w-lg sm:rounded-3xl sm:px-10 space-y-3">
                <div class="grid grid-cols-5 gap-1">
                    <p class="grid col-start-1 col-span-5 ml-4 text-xl">Recent planning</p>
                    <a class="grid col-end-8 col-span-1 mr-2 mt-1 text-sm text-[#4b88e3] hover:text-[rgb(35,106,247)]" href="recent/">See all</a>
                </div>
                <br>
                <a class="" href="recentplanning/{{ last_data.id }}">
                    <div class="relative bg-[#e8f8fb] px-6 pt-4 pb-4 shadow-xl ring-1 ring-gray-900/5 rounded-2xl sm:mx-auto sm:max-w-lg sm:rounded-3xl sm:px-10">
                        <p class="text-right text-[11px]">
                            {{ last_data.timestamp|date:"j F, H:i" }}
                        </p>
                        <div class="flex flex-col space-y-4">
                            <div class="flex">
                                <i class="fa-solid fa-circle pr-3 text-[#47a6ab]"></i>
                                <p class="text-sm ml-3">
                                    {{ last_data.origin_name }}
                                </p>
                            </div>
                            <i class="fa-solid fa-ellipsis-vertical ml-1.5 text-[#8c8c8c]"></i>
                            <div class="flex">
                                <i class="fa-solid fa-location-dot pl-0.5 pr-3.5 text-[#FF370D]"></i>
                                <p class="text-sm ml-3">
                                    {{ last_data.destin_name }}
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
                <p class="ml-4 text-xl pt-10">Saved place</p>
                <div class="flex overflow-x-auto space-x-8">
                    <a class="fa-solid fa-house-chimney px-4 text-[48px] text-[#56a49a] hover:text-[#47a6ab]" href="soon/"></a>
                    <a class="fa-solid fa-briefcase px-4 text-[48px] text-[#56a49a] hover:text-[#47a6ab]" href="soon/"></a>
                    <a class="fa-solid fa-bookmark px-4 text-[48px] text-[#56a49a] hover:text-[#47a6ab]" href="soon/"></a>
                    <a class="fa-solid fa-heart px-4 text-[48px] text-[#56a49a] hover:text-[#47a6ab]" href="soon/"></a>
                    <a class="fa-solid fa-add px-4 text-[48px] text-[#56a49a] hover:text-[#47a6ab]" href="soon/"></a>
                </div>
                <br>
                <div class="flex text-sm">
                    <p class="p-2">You are login as {{ user.username }}</p>
                    <a href="{% url 'logout' %}" class="p-2 text-[#4b88e3] hover:text-[#47a6ab]">Logout</a>
                </div>
            </div>
            {% else %}
            <div class="grid grid-cols-1 min-h-screen content-center">
                <p class="flex justify-center">
                    <a id="myButton" class="bg-white ring-2 ring-[#47a6ab] p-4 text-center rounded-xl hover:text-[#47a6ab] hover:ring-blue-400" href="{% url 'login' %}">
                        Login
                    </a>
                    <script>
                        document.getElementById('myButton').click();
                    </script>
                </p>
            </div>
        </div>
        {% endif %}
    </body>
</html>
