<!DOCTYPE html>
<html>
    <head>
        <title>senior project | Map</title>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <style type="text/css">
            html{
              height:100%;
            }
            body{
              margin:0px;
              height:100%;
            }
            #map {
              height: 100%;
              width: 100%;
            }
        </style>
        <script src={{map_api}}></script>
        <script src="https://cdn.tailwindcss.com"></script>
        <script src={{font_api}} crossorigin="anonymous"></script>
        <script>
            var map;
            function init() {
            map = new longdo.Map({
              placeholder: document.getElementById('map')
            });
          }
        </script>
    </head>
    <body onload="init();" class="bg-gradient-to-br from-cyan-100 to-red-100 min-h-screen"> 
        <div class="relative bg-[#47a6ab] min-h-screen shadow-xl ring-1 ring-gray-900/5 sm:mx-auto sm:max-w-lg sm:rounded-3xl" id="map">
          <a class="ml-4 p-5 fa-solid fa-circle-chevron-left text-[#002564] text-[36px] hover:text-[#00000] shadow-xl" href="../"></a>
        </div>
    </body>
</html>

