<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>senior project | Planning</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/e18a3893e1.js" crossorigin="anonymous"></script>
    <!-- <script src="home/templates/jsfunc_for_plan.js"></script> -->
    <style>
      .tooltip {
      position: relative;
      /* border-bottom: 1px dotted black; */
      }

      .tooltip .tooltiptext {
      visibility: hidden;
      width: 245px;
      background-color: black;
      opacity: 0.7;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 5px 0;
      
      /* Position the tooltip */
      position: absolute;
      z-index: 1;
      top: 20px;
      left: 100%;
      }

      .tooltip:hover .tooltiptext {
      visibility: visible;
      }
    </style>
    <script type="text/javascript" src="https://api.longdo.com/map/?key=3591015ec2722fad511c21639251c17f"></script>
    <script>
      function init() {
        map = new longdo.Map({
          placeholder: document.getElementById('map')
        });
        map.Route.placeholder(document.getElementById('result'));
        map.Route.add(new longdo.Marker({ lon: parseFloat('{{ og_pos_lon }}'), lat: parseFloat('{{ og_pos_lat }}') },
            { 
                title: '{{ data_temp.og }}', 
                // detail: 'I\'m here' 
            }
        ));
        map.Route.add({ lon: parseFloat('{{ ds_pos_lon }}'), lat: parseFloat('{{ ds_pos_lat }}') });
        map.Route.search();
      }
    </script>
</head>
<body>
    <body onload="init();"> 
      <div class="bg-gradient-to-br from-cyan-100 to-red-100 min-h-screen">
        <div class="relative bg-[#47a6ab] shadow-xl ring-1 ring-gray-900/5 sm:mx-auto sm:max-w-lg sm:rounded-3xl" id="">
            <a class="ml-4 p-5 fa-solid fa-circle-chevron-left text-[rgb(255,255,255,0.82)] text-[36px] hover:text-[#00000]" href="../"></a>
            <div class="relative bg-[#fff] h-48 shadow-xl ring-1 ring-gray-900/5 sm:mx-auto sm:max-w-lg sm:rounded-3xl" id="map">
            </div>
        </div>
        <div class="relative bg-[#fff] pt-10 pb-10 pl-5 pr-5 shadow-xl ring-1 ring-gray-900/5 sm:mx-auto sm:max-w-lg sm:rounded-b-3xl space-y-5">
          <p class="text-[24px] font-semibold ml-3">Choose the best time for you!</p>
          <p class="text-m font-light ml-3">{{ origin_name }} to {{ destin_name }}</p>

          <!-- Suggested div -->
          <table border="0">
            {% for x in dep_time %}
              <a href="visualize/{{ x.plantype }}" class="grid grid-cols-3 gap-1 bg-[#efefef] rounded-2xl sm:mx-auto sm:max-w-lg sm:rounded-3xl pt-6 pb-8 hover:bg-[rgb(71,166,171,0.18)]">
                <div class="col-start-1 col-span-2 px-6">
                  <div class="relative space-y-3">
                    <div class="flex rounded-3xl">
                        <div class="tooltip text-m text-[#47a6ab] font-light bg-white py-1 px-3 rounded-2xl tooltip" id="plantype" onload="checkplan();">{{ x.plantype }}
                          <i class="mt-1 fa-solid fa-circle-info"></i>
                          <span class="tooltiptext" id="dscrp_detail"></span>
                          <script>
                            function checkplan() {
                              var plantype = document.getElementById('plantype')
                              var dscrp_detail = document.getElementById('dscrp_detail')
                              var d_plan = plantype.innerHTML
                              if (d_plan.slice(0,4) == 'Safe') {
                                  dscrp_detail.innerHTML = 'If your appointment is important, this planning time is safe for you to arrive on time.';
                              }
                          }
                          checkplan();
                          </script>
                        </div>    
                    </div>
                    <div class="pb-5">
                      <div class="grid grid-cols-3 gap-1">
                        <div class="col-start-1 ml-3">
                          <p class="text-center text-xl font-semibold" name="dep_time">{{ x.start|time:"H:i" }}</p>
                          <p class="text-center text-sm font-light">Departure</p>
                        </div>
                        <div class="col-start-2">
                          <p class="text-center"><i class="fa-solid fa-arrow-right"></i></p>
                        </div>
                        <div class="col-start-3 mr-3">
                          <p class="text-center text-xl font-semibold">{{ x.arrv|time:"H:i" }}</p>
                          <p class="text-center text-sm font-light">Arrival</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-start-3 border-l-2 flex justify-evenly">
                  <div class="bg-[#47a6ab] shadow-xl rounded-full p-7 content-center">
                    <p class="text-2xl text-center text-white">{{ x.traveltime }}</p>
                    <p class="text-l text-center text-white">min</p>
                  </div>
                </div>
              </a>
            {% endfor %}
          </table>
        </div>
      </div>
    </body>
</body>
</html>