<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>senior project | Planning</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/[YOUR-API_KEY].js" crossorigin="anonymous"></script>
    <!-- <script src="home/templates/jsfunc_for_plan.js"></script> -->
    <style>
      .tooltip {
      position: relative;
      /* border-bottom: 1px dotted black; */
      }

      .tooltip .tooltiptext {
      visibility: hidden;
      width: 245px;
      background-color: black;
      opacity: 0.7;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 5px 0;
      
      /* Position the tooltip */
      position: absolute;
      z-index: 1;
      top: 20px;
      left: 100%;
      }

      .tooltip:hover .tooltiptext {
      visibility: visible;
      }
    </style>
    <script type="text/javascript" src="https://api.longdo.com/map/?key=3591015ec2722fad511c21639251c17f"></script>
    <script>
      function init() {
        map = new longdo.Map({
          placeholder: document.getElementById('map')
        });
        map.Route.placeholder(document.getElementById('result'));
        map.zoom(14,true)
        map.Route.add(new longdo.Marker({ lon: parseFloat('{{ og_pos_lon }}'), lat: parseFloat('{{ og_pos_lat }}') },
            { 
                title: '{{ data_temp.og }}', 
                // detail: 'I\'m here' 
            }
        ));
        map.Ui.DPad.visible(false);
        map.Ui.Zoombar.visible(false);
        map.Ui.Geolocation.visible(false);
        map.Ui.Toolbar.visible(false);
        map.Ui.LayerSelector.visible(false);
        map.Ui.Fullscreen.visible(false);
        map.Ui.Crosshair.visible(false);
        map.Ui.Scale.visible(false)
        map.Route.add({ lon: parseFloat('{{ ds_pos_lon }}'), lat: parseFloat('{{ ds_pos_lat }}') });
        map.Route.search();
      }
    </script>
</head>
<body>
    <body onload="init();"> 
      <div class="bg-gradient-to-br from-cyan-100 to-red-100 min-h-screen">
        <div class="relative bg-[#47a6ab] shadow-xl ring-1 ring-gray-900/5 sm:mx-auto sm:max-w-lg sm:rounded-3xl" id="">
            <!-- <a class="ml-4 p-5 fa-solid fa-circle-chevron-left text-[rgb(255,255,255,0.82)] text-[36px] hover:text-[#00000]" href="../"></a> -->
            <div class="relative bg-[#fff] h-48 shadow-xl ring-1 ring-gray-900/5 sm:mx-auto sm:max-w-lg sm:rounded-3xl" id="map">
            </div>
            <!-- <div class="relative bg-[#fff] h-48 shadow-xl ring-1 ring-gray-900/5 sm:mx-auto sm:max-w-lg sm:rounded-3xl" id="result">
            </div> -->
        </div>
        <div class="relative bg-[#fff] pt-10 pb-10 pl-5 pr-5 shadow-xl ring-1 ring-gray-900/5 sm:mx-auto sm:max-w-lg sm:rounded-b-3xl space-y-5">
          <p class="text-[24px] font-semibold ml-3">Choose the best time for you!</p>
          <p class="text-m font-light ml-3">{{ origin_name }} to {{ destin_name }}</p>

          <!-- Suggested div -->
          <table border="0">
            {% for x in dep_time %}
              <a href="visualize/{{ x.plantype }}" class="grid grid-cols-3 gap-1 bg-[#efefef] rounded-2xl sm:mx-auto sm:max-w-lg sm:rounded-3xl pt-6 pb-8 hover:bg-[rgb(71,166,171,0.18)]">
                <div class="col-start-1 col-span-2 px-6">
                  <div class="relative space-y-3">
                    <div class="flex rounded-3xl">
                        <div class="flex tooltip text-[14px] text-[#47a6ab] font-light bg-white py-2 px-4 rounded-2xl tooltip">
                          <!-- {{x.plantype}} -->
                          <p class="" id="planname_{{x.plantype}}"></p>
                          <!-- <i class="mt-1 ml-2 fa-solid fa-circle-info"></i> -->
                          <!-- <span class="tooltiptext" id="dscrp_detail_{{x.plantype}}"></span> -->
                        </div>  
                        <script>
                          function checkplan() {
                            dscrp_detail = document.getElementById('dscrp_detail_{{x.plantype}}')
                            planname = document.getElementById('planname_{{x.plantype}}')
                            plantype = "{{ x.plantype }}".slice(0,4)

                            if (plantype == 'Safe') {
                                // dscrp_detail.innerHTML = 'If your appointment is important, this planning time is safe for you to arrive on time.';
                                planname.innerHTML = 'Definitely on time!'
                            } else if (plantype == 'Usua') {
                                // dscrp_detail.innerHTML = 'The typical travel time under normal situation, without any delays or unexpected situation.';
                                planname.innerHTML = 'Likely on time'
                            } else {
                                // dscrp_detail.innerHTML = 'Pleng is thinking about this meaning. Best is waiting for Pleng to think about it.';
                                planname.innerHTML = 'Likely to be late!'
                            }
                          }
                          checkplan();
                        </script>  
                    </div>
                    <div class="pb-5">
                      <div class="grid grid-cols-3 gap-1">
                        <div class="col-start-1 ml-3">
                          <p class="text-center text-xl font-semibold" name="dep_time">{{ x.start|time:"H:i" }}</p>
                          <p class="text-center text-sm font-light">Departure</p>
                        </div>
                        <div class="col-start-2">
                          <div class="grid grid-cols-12">
                            <div class="col-start-3 col-span-7 mt-[15px] h-0.5 w-full bg-[#47a6ab] rounded-l-2xl"></div>
                            <div class="mt-3 bg-[#47a6ab] w-2 h-2 rounded-full"></div>
                          </div>
                        </div>
                        <div class="col-start-3 mr-3">
                          <p class="text-center text-xl font-semibold">{{ x.arrv|time:"H:i" }}</p>
                          <p class="text-center text-sm font-light">Arrival</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-start-3 border-l-2 flex justify-center py-5">
                  <div class="bg-[#47a6ab] rounded-full h-24 w-24 content-center p-5 text-center text-white">
                    <p class="text-2xl">{{ x.traveltime }}</p>
                    <p class="text-l">min</p>
                  </div>
                  <!-- <div class="bg-blue-500 text-white rounded-full p-4 relative">
                    <span>Some text</span>
                    <span class="after absolute w-0 h-0 border-4 border-blue-500 border-t-0 border-r-0"></span>
                  </div> -->
                  
                </div>
              </a>
            {% endfor %}
          </table>
        </div>
      </div>
    </body>
</body>
</html>