<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>senior project | Visualization</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/e18a3893e1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
</head>
<body>
    <div class="bg-gradient-to-br from-cyan-100 to-red-100 min-h-screen">
        <div class="relative bg-[#47a6ab] px-6 pt-10 pb-8 shadow-xl ring-1 ring-gray-900/5 sm:mx-auto sm:max-w-lg sm:rounded-b-3xl sm:px-10">
            <p class="text-center text-white font-semibold">I sus yed mae</p>
        </div>
    </div> 
</body>
</html>