<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>senior project | Visualization</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/e18a3893e1.js" crossorigin="anonymous"></script>
    <!-- <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" /> -->
    <link rel="stylesheet" href="style.css">
    <script type="text/javascript" src="https://api.longdo.com/map/?key=3591015ec2722fad511c21639251c17f"></script>
    <script>
        function init() {
        map = new longdo.Map({
            placeholder: document.getElementById('map')
        });
        map.Route.placeholder(document.getElementById('result'));
        map.Route.add(new longdo.Marker({ lon: parseFloat('{{ og_pos_lon }}'), lat: parseFloat('{{ og_pos_lat }}') },
            { 
                title: '{{ data_temp.og }}', 
                // detail: 'I\'m here' 
            }
        ));
        map.Route.add({ lon: parseFloat('{{ ds_pos_lon }}'), lat: parseFloat('{{ ds_pos_lat }}') });
        map.Route.search();
        }
   </script>
</head>
<body onload="init();">
    <div class="bg-gradient-to-br from-cyan-100 to-red-100 min-h-screen">
        <div class="relative bg-[#47a6ab] px-6 pt-10 pb-8 shadow-xl ring-1 ring-gray-900/5 sm:mx-auto sm:max-w-lg sm:rounded-b-3xl sm:px-10" id="map">
            
        </div>
        <div class="relative bg-[#fff] px-6 pt-10 pb-8 shadow-xl ring-1 ring-gray-900/5 sm:mx-auto sm:max-w-lg sm:rounded-3xl sm:px-10 space-y-10">
            
            <!--  -->
            <div class="relative bg-[#efefef] px-6 pt-6 pb-6 shadow-lg ring-1 ring-gray-900/5 sm:mx-auto sm:max-w-lg sm:rounded-3xl divide-y divide-black-100">
                <div class="grid grid-cols-3 pb-6">
                    <div class="col-start-1">
                        <div class="flex justify-center bg-[rgb(71,166,171,0.18)] ring-1 ring-gray-900/5 rounded-3xl px-5 py-10">
                            <p class="text-4xl font-semibold tracking-wider">{{ data_temp.traveltime }}</p>
                            <p class="mt-3.5">min</p>
                        </div>
                    </div>
                    <div class="flex flex-col justify-evenly col-start-2 col-span-2 ml-10">
                        <div class="grid grid-cols-6 bg-[#47a6ab] rounded-2xl p-1 shadow-lg">
                            <i class="col-start-1 flex justify-center fa-solid fa-car pt-1 text-white"></i>
                            <p class="col-span-5 text-white text-sm ml-3">Travel time {{ data_temp.traveltime }} min</p>
                        </div>
                        <div class="grid grid-cols-6 bg-[#fff] rounded-2xl p-1 shadow-xl">
                            <i class="col-start-1 flex justify-center fa-solid fa-circle-plus pt-1"></i>
                            <p class="col-span-5 text-sm ml-3">Extra time .. min</p>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col px-6 pt-6 space-y-3">
                    <div class="grid grid-cols-6">
                        <div class="col-start-1">
                            <p class="text-center">{{ start }}</p>
                        </div>
                        <div class="col-start-2 text-center">
                            <p class="fa-solid fa-circle text-[#47a6ab]"></p>
                        </div>
                        <div class="col-span-4 ml-3">
                            <p class="">{{ data_temp.og }}</p>
                        </div>
                    </div>
                    <div class="grid grid-cols-6">
                        <div class="col-start-2 text-center">
                            <i class="fa-solid fa-angles-down text-[#8c8c8c]"></i>
                        </div>
                    </div>
                    <div class="grid grid-cols-6">
                        <div class="col-start-1">
                            <p class="text-center">{{ arrv }}</p>
                        </div>
                        <div class="col-start-2 text-center">
                            <p class="fa-solid fa-location-dot text-[#FF370D]"></p>
                        </div>
                        <div class="col-span-4 ml-3">
                            <p class="">{{ data_temp.ds }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- bar chart -->
            <div class="space-y-5">
                <div class="grid grid-cols-2">
                    <div class="flex justify-evenly bg-[#efefef] rounded-2xl px-4 py-2 tooltip">Traffic Congestion<i class="mt-1 fa-solid fa-circle-info"></i>
                        <span class="tooltiptext">describe about traffic Congestion</span>
                    </div>
                </div>
                <div class="">
                    <canvas id="myChart"></canvas>
                </div>
                <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                <script>
                    const ctx = document.getElementById('myChart');
                    new Chart(ctx, {
                        type: 'bar',
                        data: {
                        labels: ['08:00', '09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00', '21:00'],
                        datasets: [{
                            label: 'Congestion',
                            data: JSON.parse('{{ data }}'),
                            borderWidth: 0
                        }]
                        },
                        options: {
                        scales: {
                            y: {
                            beginAtZero: true
                            }
                        }
                        }
                    });
                </script>
            </div>

            <!-- done -->
            <div class="flex justify-center">
                <a class="bg-black text-white text-2xl px-5 py-3 rounded-2xl" href="done/">Done</a>
            </div>

        </div>
    </div> 
</body>
</html>