<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>senior project | Visualization</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/e18a3893e1.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://api.longdo.com/map/?key=3591015ec2722fad511c21639251c17f"></script>
    <!-- <script src="home/templates/jsfunc_for_plan.js"></script> -->
    <script>
        function init() {
        map = new longdo.Map({
            placeholder: document.getElementById('map')
        });
        map.Route.placeholder(document.getElementById('result'));
        map.Route.add(new longdo.Marker({ lon: parseFloat('{{ og_pos_lon }}'), lat: parseFloat('{{ og_pos_lat }}') },
            { 
                title: '{{ data_temp.og }}', 
                // detail: 'I\'m here' 
            }
        ));
        map.Route.add({ lon: parseFloat('{{ ds_pos_lon }}'), lat: parseFloat('{{ ds_pos_lat }}') });
        map.Route.search();
        }
   </script>
   <style>
            .tooltip {
        position: relative;
        /* border-bottom: 1px dotted black; */
        }

        .tooltip .tooltiptext {
        visibility: hidden;
        width: 245px;
        background-color: black;
        opacity: 0.7;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        
        /* Position the tooltip */
        position: absolute;
        z-index: 1;
        top: 50px;
        left: 50%;
        }

        .tooltip:hover .tooltiptext {
        visibility: visible;
        }
   </style>
</head>
<body onload="init();">
    <div class="bg-gradient-to-br from-cyan-100 to-red-100 min-h-screen">
        <div class="relative bg-[#47a6ab] shadow-xl ring-1 ring-gray-900/5 rounded-2xl sm:mx-auto sm:max-w-lg sm:rounded-b-3xl">
            <div class="relative bg-[#47a6ab] shadow-xl ring-1 ring-gray-900/5 sm:mx-auto sm:max-w-lg sm:rounded-3xl">
                <!-- <a class="ml-4 p-5 fa-solid fa-circle-chevron-left text-[rgb(255,255,255,0.82)] text-[36px] hover:text-[#00000]" href="../"></a> -->
                <div class="relative bg-[#fff] h-48 shadow-xl ring-1 ring-gray-900/5 sm:mx-auto sm:max-w-lg sm:rounded-3xl" id="map">
                </div>
            </div>
        </div>
        <div class="relative bg-[#fff] px-6 pt-10 pb-8 shadow-xl ring-1 ring-gray-900/5 sm:mx-auto sm:max-w-lg sm:rounded-b-3xl sm:px-10 space-y-10">
            
            <!--  -->
            <div class="relative bg-[#efefef] px-6 pt-6 pb-6 shadow-lg ring-1 ring-gray-900/5 rounded-2xl sm:mx-auto sm:max-w-lg sm:rounded-3xl divide-y divide-black-100">
                <div class="grid grid-cols-3 pb-6">
                    <div class="col-start-1">
                        <div class="relative justify-center bg-[rgb(71,166,171,0.18)] ring-1 ring-gray-900/5 rounded-3xl p-5">
                            <p class="text-xl text-center sm:text-sm">Your trip</p>
                            <p class="text-3xl font-semibold tracking-wider text-center sm:text-xl">{{ data_temp.traveltime }}</p>
                            <p class="text-l text-center sm:text-sm">min</p>
                        </div>
                    </div>
                    <div class="flex flex-col justify-evenly col-start-2 col-span-2 ml-8">
                        <div class="grid grid-cols-6 bg-[#fff] rounded-2xl p-1 shadow-lg">
                            <i class="col-start-1 flex justify-center fa-solid fa-car pt-1 text-black"></i>
                            <p class="col-span-5 text-sm ml-3 sm:text-xs">Travel time {{ ttt }} min</p>
                        </div>
                        <div class="grid grid-cols-6 rounded-2xl p-1 shadow-xl" id="myDiv">
                            <i class="col-start-1 flex justify-center pt-1 fa-solid" id="ilogo"></i>
                            <p class="col-span-5 text-sm ml-3 sm:text-xs" id="myPet">{{ txt_et }}</p>
                        </div>
                        <!-- <div id="myDiv">{{ extratime }}</div> -->
                    </div>
                </div>
                <div class="flex flex-col px-6 pt-6 space-y-3">
                    <div class="grid grid-cols-6">
                        <div class="col-start-1">
                            <p class="text-center">{{ start }}</p>
                        </div>
                        <div class="col-start-2 text-center">
                            <p class="fa-solid fa-circle text-[#47a6ab]"></p>
                        </div>
                        <div class="col-span-4 ml-3">
                            <p class="">{{ data_temp.og }}</p>
                        </div>
                    </div>
                    <div class="grid grid-cols-6">
                        <div class="col-start-2 text-center">
                            <i class="fa-solid fa-ellipsis-vertical text-[#8c8c8c]"></i>
                        </div>
                    </div>
                    <div class="grid grid-cols-6">
                        <div class="col-start-1">
                            <p class="text-center">{{ arrv }}</p>
                        </div>
                        <div class="col-start-2 text-center">
                            <p class="fa-solid fa-location-dot text-[#FF370D]"></p>
                        </div>
                        <div class="col-span-4 ml-3">
                            <p class="">{{ data_temp.ds }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- bar chart -->
            <div class="space-y-5">
                <!-- <div class="grid grid-cols-2"> -->
                    <div class="flex w-52 bg-[#efefef] rounded-2xl px-4 py-2 tooltip">Traffic Congestion
                        <i class="flex justify-end ml-5 mt-1 fa-solid fa-circle-info"></i>
                        <span class="tooltiptext">describe about traffic Congestion</span>
                    </div>
                <!-- </div> -->
                <div class="">
                    <canvas id="myChart"></canvas>
                </div>
                <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                <script>
                    const ctx = document.getElementById('myChart');
                    const color_list = [];
                    const d = new Date();
                    const label_time = ['10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00', '21:00'];
                    for (let i = 0; i<11; i++) {
                        if (d.getHours().toString === label_time.slice(i).slice(0,2)) {
                            color_list.push("rgba(71, 166, 171, 1)")
                        } else {
                            color_list.push("rgba(71, 166, 171, 0.7)")
                        }
                    }
                    new Chart(ctx, {
                        type: 'bar',
                        data: {
                        labels: label_time,
                        datasets: [{
                            label: 'Congestion',
                            data: JSON.parse('{{ data }}'),
                            backgroundColor: color_list,
                            borderWidth: 0
                        }]
                        },
                        options: {
                        scales: {
                            y: {
                            beginAtZero: true
                            }
                        }
                        }
                    });
                </script>
                <script>
                    var myDiv = document.getElementById("myDiv");
                    var myPet = document.getElementById("myPet");
                    var ilogo = document.getElementById("ilogo");
                    var data = myPet.innerHTML;
                  
                    function checkData() {
                      if (data.slice(0,4) == 'Save') {
                        myDiv.style.backgroundColor = "#47a6ab";
                        myPet.style.color = '#fff'
                        ilogo.style.color = '#fff'
                        ilogo.classList.add("fa-circle-minus")
                      } else if (data.slice(0,5) == 'Extra') {
                        myDiv.style.backgroundColor = "#ee4343";
                        myPet.style.color = '#fff'
                        ilogo.style.color = '#fff'
                        ilogo.classList.add("fa-circle-plus")
                      } else {
                        myDiv.style.backgroundColor = "#fff";
                        myPet.style.color = '#00000';
                        ilogo.style.color = '#00000'
                        ilogo.classList.add("fa-circle-stop")
                      }
                    }
                    checkData();
                </script>
            </div>

            <!-- done -->
            <div class="flex justify-center">
                <a class="bg-black text-white text-2xl px-5 py-3 rounded-2xl" href="done/">Done</a>
            </div>

        </div>
    </div> 
</body>
</html>